In [1]:
# Import modules
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
from datetime import datetime as dt

import re

import requests
from bs4 import BeautifulSoup as soup

import pyxlsb
from pyxlsb import convert_date

from pandas_profiling import ProfileReport

%qtconsole

In [2]:
# Define local directories
master_dir = 'C:\\Users\\Bryan\\OneDrive\\02 GitHub\\rig-count_L48\\'
data_raw_dir = 'C:\\Users\\Bryan\\OneDrive\\02 GitHub\\rig-count_L48\\data\\raw\\'
data_interim_dir = 'C:\\Users\\Bryan\\OneDrive\\02 GitHub\\rig-count_L48\\data\\interim\\'
data_external_dir = 'C:\\Users\\Bryan\\OneDrive\\02 GitHub\\rig-count_L48\\data\\external\\'

filename = "Global_Mobility_Report.csv"

In [38]:
df = pd.read_csv(data_raw_dir + filename)
#df = df[df.country_region_code == "US"]

df = df[df.sub_region_1.isnull()]
df.drop(['sub_region_1','sub_region_2','iso_3166_2_code','census_fips_code'], axis=1, inplace=True)
col_list = df.columns.tolist()
col_list_new = []
for col in col_list:
    col_list_new.append(col.replace('_percent_change_from_baseline',''))

df.columns = col_list_new

df.describe()

C:\Users\Bryan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
count,20449.000000,20397.000000,20397.000000,20495.000000,20598.000000,20058.000000
mean,-30.685021,-13.954699,-8.966809,-34.900854,-24.353529,12.023133
std,27.488417,22.243388,46.420206,26.527424,24.046180,10.476624
min,-98.000000,-98.000000,-100.000000,-100.000000,-92.000000,-16.000000
25%,-53.000000,-26.000000,-36.000000,-56.000000,-42.000000,3.000000
50%,-26.000000,-9.000000,-13.000000,-35.000000,-23.000000,11.000000
75%,-7.000000,1.000000,4.000000,-12.000000,-3.000000,19.000000
max,60.000000,94.000000,517.000000,39.000000,80.000000,55.000000